<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.phonegap.example"
        versionCode="10" 
        version   = "1.1.5">
	<gap:platform name="android" />
    <name>PhoneGap App</name>
    <description>
        Just another PhoneGap App
    </description>
    <author href="http://www.google.com" email="blackbourna@gmail.com">
        Andrew Blackbourn
    </author>
	
	<feature name="http://api.phonegap.com/1.0/battery"/>
	<feature name="http://api.phonegap.com/1.0/camera"/>
	<feature name="http://api.phonegap.com/1.0/notification"/>
	
    <preference name="phonegap-version" value="3.0.0" />
    <gap:plugin name="org.apache.cordova.core.vibration" />
	<gap:plugin name="org.apache.cordova.core.device-motion" />
	<gap:plugin name="org.apache.cordova.core.dialogs" />
	<gap:plugin name="org.apache.cordova.core.battery-status" />
	<gap:plugin name="BarcodeScanner" value="com.phonegap.plugins.barcodescanner" />
</widget>
